/* resetting CSS */
*, *::before, *::after {
    box-sizing: border-box;
}   
  * {
    margin: 0;    /* Remove default margin*/
  }
  img, picture, video, canvas, svg {       /*Improve media defaults */
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {   /*Remove built-in form typography styles*/
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {  /*Avoid text overflows*/
    overflow-wrap: break-word;
  }
/* done resetting CSS - code from Josh Comeau */

    

.navigation {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background: #1F2937;
    color: #fff;
}

.logo{ 
    margin-left: 150px;
}
.logo img{
    width: 100px;;
}

.menu{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-right: 150px;
}

ul {
    list-style-type: none;
}

ul li a{
    color: #fff;
    text-decoration: none;
}

.container_header{
    background: #1F2937;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0px 150px 0px 150px;
    padding-bottom: 50px;
}

@media screen and (max-width: 800px){
    .header {
       flex-wrap: wrap;
    }
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #f9faf8;
    font-size: 48px;;
    font-weight: bold;
    margin-bottom: 5px;
}

p {
    color: #e5e7eb;
    font-size: 18px;
}

button {
    margin-top: 15px; 
    width: 130px;
    background-color: #3882F6;
    border-radius: 10px;
    border-color: white;
    padding: 5px 15px;
    color: #f9faf8;
}

h2 {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    text-align: center;
    padding: 20px 0px; 
}

.boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

p {
    text-align: center;
    color: #1F2937;
}

.step1, .step2, .step3, .step4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
}

.testimonial_section {
    background: #E5E7EB;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonial {
    width: 1000px;
}

#testimonial {
    font-size: 36px;
    font-weight: lighter;
    color: #1F2937;
}

#author {
    font-weight: bold;
    text-align: right;
}

.call_to_action_section {
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.call_to_action_row {
    width: 1200px;
    height: 100px;
    background: #3882F6;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#text, #copy {
    color: white;
    text-align: left;
}

.footer {
    background: #1F2937;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

